[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]rojectSettings/
.obj/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/

# OS generated
.DS_Store
*.swp
*.swo
*.tmp

# Rider
.idea/
*.sln.iml